<%- include('partials/header'); -%>

<div class="dashboard-title">
  <h4>Мой дашборд</h4>
  <a class="btn btn-primary" href="/addnew">Добавить новый</a>
</div>

  <table class="table table-hover dashboard">
    <% (blogs).forEach((blog, index) => { %>
      <tr>
        <td><%= blog.title %></td>
        <td>
          <button class="btn btn-outline-primary btn-sm" id="edit<%= index %>">Изменить</button>
          <button class="btn btn-outline-primary btn-sm" id="delete<%= index %>">Удалить</button>
        </td>
      </tr>
      <% }); %>
  </table>

<script>

  for (let i = 0; i < '<%- blogs.length %>'; i++) {
    const editBtn = document.getElementById(`edit${i}`);
    const deleteBtn = document.getElementById(`delete${i}`);
    
    editBtn.addEventListener("click", ()=>{
      console.log('Edit ' + i);
    });
    deleteBtn.addEventListener("click", ()=>{
      console.log('Delete ' + i);
    });   
  }
</script>

<%- include('partials/footer'); -%>
